#login {
    height: 73vh; /* Ajusta la altura al 100% de la ventana */
    display: flex;
    align-items: center;
    justify-content: center;
  }

.wrapper{
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}

.logo{
    height: 130px;
    margin-bottom: 10px;
}

.body{
    margin-top: 20px;
}